NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBwDUPG6Bze3lQvj4_G7yoheorNsK033Kg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cabbage-guard.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cabbage-guard
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cabbage-guard.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=12732254150
NEXT_PUBLIC_FIREBASE_APP_ID=1:12732254150:web:956e84763f61e6fbf494c7
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-6C7BZ584VT
NEXT_PUBLIC_LITE_URL=https://fusionuncertaintynet-lite.onrender.com
# or http://localhost:8000 for local
